body{
    font-family: Arial;
    margin: 0;
}

.section-1{
    color: white;
    background-color: rgb(69, 49, 172);
    display:flex;
}

a:visited{
    color: aliceblue;
}
a.hover {
    color: aquamarine;
}
.section-2{

}